powerline/coc
powerline/configstore/*
powerline/cr
powerline/htop
powerline/ninja-dev-sync.json
powerline/powerline

*/tmux/plugins/*
*/tmux/resurrect/

!*tmux/plugins/tpm/*

*.bak
*flexport*
shell/fish/fish_variables
shell/fish/completions
shell/fish/conf.d
shell/fish/functions
home/.tmux/plugins/*
!home/.tmux/plugins/tpm
